:root {
  /* Colors */
  --black: hsl(0, 0%, 0%);
  --black-100: hsl(0, 0%, 10%);
  --black-200: hsl(0, 0%, 20%);
  --white: hsl(0, 0%, 100%);

  --primary-clr-1: hsl(220, 10%, 94%);
  --primary-clr-2: var(--black);
  --primary-clr-2-100: var(--black-100);
  --secondary-clr-1: hsl(229, 21%, 84%);
  --secondary-clr-1-800: hsl(229, 21%, 80%);
  --secondary-clr-2: hsl(229, 32%, 50%);
  --secondary-clr-2-700: hsl(229, 32%, 70%);

  --primary-clr-text: var(--black);
  --primary-clr-text-200: var(--black-200);
  --secondary-clr-text: var(--white);

  /* Backgrounds */
  --bg-clr: var(--primary-clr-1);

  /* Fonts */
  --fs: 15px;
  --ff: 'Poppins', 'Roboto', -apple-system, system-ui, helvetica, sans-serif;
  --font: var(--fs) var(--ff);

  /* Custom */
  --border: 1px solid var(--secondary-clr-1);
  --border-2: 2.5px solid var(--secondary-clr-2);
  --space: 2rem;
  --radius: 2.5px;
  --radius-2: 5px;
  --shadow: 5px 0 15px 5px rgba(0, 0, 0, 0.1);
  --sidebar-width: 5rem;
  --navbar-title-fs: 2rem;
  --navbar-link-space: 1rem;
  --section-title-fs: 1.5rem;
  --section-main-title-fs: 4rem;
  --section-secondary-title-fs: 3rem;
  --section-tertiary-title-fs: 1.15rem;
  --section-main-paragraph-fs: 1rem;
  --section-contact-title-fs: 3rem;
  --section-work-item-name-bg: linear-gradient(
    0,
    rgba(0, 0, 0, 0.65),
    transparent
  );
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-clr-1-800);
}

::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
  background-color: var(--secondary-clr-2-700);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-clr-2);
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: var(--font);
  background-color: var(--bg-clr);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  display: inline-block;
}

.btn,
.navbar-links-item.featured {
  background-color: var(--primary-clr-2);
  color: var(--secondary-clr-text);
}

.btn:hover,
.navbar-links-item.featured:hover {
  background-color: var(--primary-clr-2-100);
  color: var(--secondary-clr-text);
}

.icon {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--primary-clr-text);
  font-weight: 500;
}

.icon:last-of-type {
  margin-bottom: 0;
}

.icon-img {
  width: 25px;
  user-select: none;
}

.icon-img::selection {
  background-color: transparent;
}

.overlay,
.modal {
  position: fixed;
}

.overlay {
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: var(--primary-clr-2);
  opacity: 0.95;
}

.overlay::before {
  content: '\274C';
  position: absolute;
  top: var(--space);
  right: var(--space);
  padding: 1rem;
  color: var(--secondary-clr-text);
  font-family: 'Segoe UI Symbol', var(--ff);
  font-size: 1.5rem;
  cursor: pointer;
}

.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 90vh;
  object-fit: cover;
  object-position: top;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.sidebar {
  display: none;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 100%;
  border-right: var(--border);
}

.sidebar-img::selection {
  background-color: transparent;
}

.sidebar-img {
  width: 3.5rem;
}

.navbar {
  width: 100%;
  padding: 1rem var(--space);
}

.navbar-title,
.navbar-links {
  text-align: center;
}

.navbar-title {
  display: block;
  font-size: var(--navbar-title-fs);
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--primary-clr-text);
}

.navbar-links {
  margin-top: 1rem;
  list-style: none;
}

.navbar-links-item-container,
.navbar-links-item {
  display: inline-block;
}

.navbar-links-item {
  color: var(--primary-clr-text);
  font-weight: 500;
  margin-right: var(--navbar-link-space);
  padding: 0.5rem;
  border-radius: var(--radius);
}

.navbar-links-item:hover {
  color: var(--primary-clr-2-100);
}

.navbar-links-item.active {
  cursor: default;
  position: relative;
}

.navbar-links-item.active::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-clr-text);
}

.navbar-links-item.featured {
  margin-right: 0;
}

.navbar-links-item.featured.active,
.navbar-links-item.featured.active:hover {
  background-color: transparent;
  color: var(--primary-clr-2);
}

.main {
  padding: var(--space);
  width: 100%;
}

.section {
  margin-bottom: 5rem;
}

.section-article {
  margin-bottom: 2.5rem;
}

.section-article:last-of-type {
  margin-bottom: 0;
}

.section-main-title,
.section-secondary-title,
.section-tertiary-title,
.section-title {
  font-weight: 500;
}

.section-title {
  font-size: var(--section-title-fs);
  margin-bottom: 1rem;
}

.section-paragraph {
  margin-bottom: 1rem;
  max-width: 600px;
}

.section-main-title {
  font-size: var(--section-main-title-fs);
}

.section-main-paragraph {
  font-size: var(--section-main-paragraph-fs);
  line-height: 27px;
  max-width: 400px;
}

.section-secondary-title {
  font-size: var(--section-secondary-title-fs);
}

.section-tertiary-title {
  font-size: var(--section-tertiary-title-fs);
}

.section-skills-list {
  max-width: 500px;
}

.section-skills-list-item-container,
.section-skills-list-item,
a.section-skills-list-item {
  display: inline-block;
}

.section-skills-list-item {
  padding: 0.25rem 1.5rem;
  margin: 0 1rem 1rem 0;
  font-weight: 500;
  border: var(--border);
  border-radius: var(--radius);
}

a.section-skills-list-item {
  color: inherit;
}

.section-contact-title {
  font-size: var(--section-contact-title-fs);
}

.section-contact-list-item {
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-left: var(--border-2);
  display: block;
}

.section-contact-list-item-name,
.section-contact-list-item-value {
  display: block;
  color: var(--primary-clr-text);
}

.section-contact-list-item-name {
  font-weight: 500;
  font-size: 110%;
}

.section-work-list-item {
  position: relative;
  width: 100%;
  min-height: 300px;
  max-height: 100vh;
  overflow: hidden;
  border-radius: var(--radius-2);
  box-shadow: var(--shadow);
  background-color: hsl(229, 21%, 84%);
  margin-bottom: 1rem;
}

.section-work-list-item:hover img {
  transform: scale(1.15);
}

.section-work-list-item:hover .section-work-list-item-name {
  opacity: 1;
  visibility: visible;
}

.section-work-list-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.section-work-list-item-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 5rem;
  max-height: 300px;
  z-index: 100;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--secondary-clr-text);
  background: var(--section-work-item-name-bg);
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.section-single-work-title {
  margin: 2rem 0 1.5rem 0;
}

.section-single-work-main-info {
  margin-bottom: 5rem;
}

.section-single-work-img {
  width: 500px;
  max-width: 100%;
  display: block;
  cursor: pointer;
  border-radius: var(--radius);
  border: var(--border);
}

.section-single-work-link {
  margin-top: 2rem;
}

.section-single-work-item {
  margin-bottom: 3rem;
}

.section-single-work-item-name {
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.section-single-work-item-img {
  max-width: 200px;
}

.section-single-work-item-desc {
  max-width: 350px;
  font-size: 90%;
}

.footer-text,
.footer-icons {
  text-align: center;
}

.footer-icons {
  padding: 0.5rem;
}

.footer-icons .icon {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 0;
}

.footer-icons .icon img {
  width: 30px;
}

.footer-text {
  font-size: 80%;
  color: var(--primary-clr-text-200);
}

/* Responsive */
@media screen and (min-width: 968px) {
  .section-work-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: -2rem 0 0 -2rem;
  }

  .section-work-list > * {
    margin: 2rem 0 0 2rem;
  }

  .section-work-list-item {
    height: 400px;
    max-width: 350px;
    aspect-ratio: 3/4;
  }

  .section-single-work-item-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .section-single-work-item {
    margin-right: auto;
    margin-bottom: 2rem;
  }

  .section-single-work-item:last-of-type {
    margin-right: 0;
  }
}

@media screen and (min-width: 968px) {
  .section-contact-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .section-contact-list-item {
    padding: 0 2rem;
    border-left: none;
    border-right: var(--border);
    width: 33.333%;
  }

  .section-contact-list-item:first-of-type,
  .section-contact-list-item:nth-of-type(4n) {
    padding-left: 0;
  }

  .section-contact-list-item:nth-of-type(3n),
  .section-contact-list-item:last-of-type {
    border-right: none;
  }
}

@media screen and (min-width: 730px) {
  :root {
    --section-main-title-fs: 6rem;
    --navbar-title-fs: inherit;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-title {
    display: initial;
  }

  .navbar-links {
    margin-top: 0;
  }

  .navbar,
  .main {
    width: calc(100% - var(--sidebar-width));
    margin-left: auto;
  }

  .footer-icons {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  :root {
    --section-main-title-fs: 5rem;
  }

  @supports (animation: test) {
    @keyframes toggleColor {
      to {
        color: var(--secondary-clr-2);
      }
    }

    .section-main-title {
      animation: toggleColor 5s infinite alternate;
    }
  }
}
